
body {
  font-family: Arvo;
}

nav ul li{
  display: inline;
  padding: 8px;
  text-decoration: none;
  color: #181817 !important;
}

.backgroundImage {
  width: 550px;
  height: 650px;
}

.home-div {
  margin-top: 25px;
}

.sloganPosition {
  margin-top: 100px;
}

.slogan {
  height: auto;
  width: 400px;
  text-align: left;
}

.generic-button {
  background-color: #F9A826;
  color: #ffff;
  width: 200px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 58px; 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.lovebutton {
  background-color: #F9A826;
  color: #ffff;
  width: 100px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 58px; 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-left: 20px;
  margin-top: 20px
}

.lovebutton1{
  background-color: #F9A826;
  color: #ffff;
  width: 100px;
  height: 35px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 58px; 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-left: 10px;
  margin-bottom: 10px
}

.prepbutton {
  background-color: #F9A826;
  color: #ffff;
  width: 200px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 58px; 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-left: 20px;
  margin-top: 20px
}

.start-div {
  text-align: center;
  margin-top: 2rem;
}

/* .name-div {
  margin: 5rem;
} */

.formDiv {
  text-align: center;
  margin-top: 5rem;
}

input {
  height: 3.8rem;
  width: 50%;
  background-color: #fff5e8;
  color: #847b6b;
  margin: 0.5rem 0 0.5rem;
  border: none;
  border-radius: 20px;
}

::placeholder {
  margin-left: 2rem;
}

#mapid {
  height: 500px;
}

.MealList {
  width: 50%;
}

/* .randomRecipe {
  
} */

